html{
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
}

.body-container{
  border: none;
}

.room-header{
  height: 6dvh;
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
}

.room-header p{
  font-family: 'Protest Riot',sans-serif;
}

.logout-app{
  padding: 0.5rem;
  margin: 1rem;
  margin-right: 2rem;
  width: 10rem;
  font-size: 0.8rem;
  font-family: "Protest Riot", sans-serif;
  background-color: black;
  cursor: pointer;
  border: 0.2rem solid white;
  transition: background-color 0.4s,color 0.4s;
}

.logout-app:hover{
  background-color: white;
  color: black;
}

.all-forms{
  width: 100vw;
  height: 88.8dvh;
  overflow-y: scroll;
  text-align: center;
}

.room-form{
  padding: 1rem;
  width: 50vw;
  margin: 5vw 0 0 5vw;
}

.room-field{
  padding: 1rem;
  background-color: black;
}

legend{
  font-family: 'Protest Riot',sans-serif;
  color: white;
  font-size: 1.8rem;
}

.room-label{
  color: white;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-family: 'Protest Riot',sans-serif;
}

.input-room{
  color: black;
  padding: 0.7rem;
  width: 64vw;
  font-size: 0.9rem;
  text-align: center;
}

.input-id{
  color: black;
  padding: 0.7rem;
  width: 64vw;
  font-size: 0.9rem;
  text-align: center;
}

.submit{
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  width: 20rem;
  text-align: center;
  padding: 0.5rem;
  transition: background-color 0.4s,color 0.4s;
}

.submit:hover{
  background-color: white;
  color: black;
}

@media only screen and (min-width: 768px){
  .body-container{
    border: 0.4rem solid white;
  }

  .room-header{
    font-size: 1.9rem;
    padding: 3.5dvh;
  }

  .logout-app{
    padding: 0.6rem;
    margin: 3rem;
    font-size: 1.2rem;
    width: 12rem;
  }

  .all-forms{
    width: 100%;
    padding: 1.3rem;
  }

  .room-form{
    margin: 1rem auto;
    max-width: 50rem;
  }

  .room-field{
    margin: auto;
  }
  
  legend{
    font-size: 2.4rem;
  }

  .room-label{
    font-size: 1.6rem;
  }

  .input-room{
    width: 21rem;
  }

  .input-id{
    width: 21rem;
  }
}