html{
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
}

.footer-container{
  padding: 1dvh 0 12dvh 6vw;
  height: 10dvh;
  background-color: black;
}

.message-field{
  width: 60vw;
  height: 100%;
  border-radius: 0.8rem;
  padding: 2vw;
  color: black;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.send{
  width: 20vw;
  background-color: black;
  border: 0.2rem solid white;
  padding: 2vw;
  border-radius: 0.8rem;
  font-size: 4vw;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-family: "Protest Riot", sans-serif;
  transition: background-color 0.4s,color 0.4s;
}

.send:hover{
  background-color: white;
  color: black;
}

@media only screen and (min-width: 768px){
  .footer-container{
    margin-top: 0;
    padding: 3.7dvh;
  }

  .message-field{
    width: 80%;
    padding: 1.2rem;
    font-size: 1.4rem;
    text-align: left;
  }

  .send{
    width: 8rem;
    padding: 0.8rem;
    padding-bottom: 1.1rem;
    font-size: 1.6rem;
  }
}
