html{
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
}

.app-name{
  margin-top: 3rem;
  padding-top: 2rem;
  font-size: 3.3rem;
  font-family: "Protest Riot", sans-serif;
  background: linear-gradient(90deg,gray 10%,lightgrey 60%,white);
  background-size: 200% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colour-change 12s ease-in infinite;
}

@keyframes colour-change{
  0%{
    background-position: 200% center;
  }
  25%{
    background-position: 100% center;
  }
  50%{
    background-position: 0% center;
  }
  75%{
    background-position: -100% center;
  }
  100%{
    background-position: -200% center;
  }
}

.sidebar-container{
  height: 100%;
  flex: 0.22;
  background-color: black;
  text-align: center;
}

.sidebar-heading{
  background-color: white;
  color: black;
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: 3.5rem;
  font-size: 2.5rem;
  font-family: "Protest Riot", sans-serif;
}

.online-heading{
  margin-top: 7rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.online-members p{
  font-size: 1.9rem;
  font-family: "Protest Riot", sans-serif;
}